@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-12  alert alert-danger" role="alert">
    <h3>
        You can't delete this record because it is related to another table
    </h3>
    <a href="GetAllIssues" style="text-decoration: none;" class="fas fa-plus-circle">
        Back to Issues List
    </a>
</div>